/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 210px;
    background-color: #fff;
    box-shadow: 0 0 4px #eee;
    z-index:3;
}

.sidebar-user-body {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.sidebar-user-avatar {
    height: 80px;
    width: 80px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 100px;
    background-color: #4e8cff;
    line-height: 80px;
}

.sidebar-user-name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.sidebar-user-email {
    color: #909090;
    margin-top: 10px;
}

/* Settings section */
.sidebar-settings-body {
    position: absolute;
    bottom: 20px;
    right: 40px;
    left: 40px;
    border-top: 1px solid #eee;
}

ul.sidebar-settings-ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

li.sidebar-settings-li {
    font-weight: bold;
    color: #606060;
    text-align: center;
}